<!DOCTYPE html>
<html>
  <head>
    <title>HỆ THỐNG MẦM NON THỦ ĐÔ XANH - GCA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta http-equiv="Cache-Control" content="no-cache"><meta http-equiv="Expires" content="-1">
    <meta name="keywords" content="">
    <meta name="description" content="Cơ hội nhận ngay Học bổng Lá Xanh lên đến 5.400.000 VND khi nhập học năm học 2021-2022 tại GCA.">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
